<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>u1:</p>
    <p>Hello {{ .u1.Name }}</p>
    <p>年龄: {{ .u1.Age }}</p>
    <p>性别: {{ .u1.Gender }}</p>

    <p>m1:</p>
    <p>Hello {{ .m1.name }}</p>
    <p>年龄: {{ .m1.age }}</p>
    <p>性别: {{ .m1.gender }}</p>
</body>
</html>